/*
 * [y] hybris Platform
 *
 * Copyright (c) 2000-2016 SAP SE or an SAP affiliate company.
 * All rights reserved.
 *
 * This software is the confidential and proprietary information of SAP
 * ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with SAP.
 *
*/
.entitlementsListTable {
    width: 100%;
    margin: 10px 0;
}
.entitlementsListTable thead th {
    border-bottom: 2px solid #ffbc0e;
    color: #000;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-right: 0;
    text-transform: none;
}
.accountContentPane .entitlementsItem {
    border-bottom: 1px dotted #a5a5a5;
    padding: 20px 0;
    position: relative;
}
.entitlementsListTable tbody tr:nth-child(2n) {
    background-color: #f8f8f7;
}
.entitlementsListTable tbody td {
    color: #484848;
    font-size: 0.9286em;
    padding: 15px 15px 15px 0;
    vertical-align: top;
}
.entitlementsListTable tbody td:first-child {
    padding-left: 5px;
}
